@model IEnumerable<Foundation.Models.Person_model>



@{
    ViewData["Title"] = "Administration Panel";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person_modelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person_modelId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>   
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Person_modelId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Person_modelId">Details</a> |
                    <a asp-action="DeleteUser" asp-route-id="@item.Person_modelId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


